<div class="row">
    <div class="col-md-4">
        <div class="media stat stat-1">
            <div class="media-body">
                <h2 class="card-title">102</h2>
                <p class="card-text">Ecocups disponibles</p>
            </div>
            <div class="media-right">
                <img class="media-object align-self-center" src="../../../assets/images/stats/cup-quantite.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media stat stat-2">
            <div class="media-body">
                <h2 class="card-title">23</h2>
                <p class="card-text">Ecocups échangées</p>
            </div>
            <div class="media-right">
                <img class="media-object align-self-center" src="../../../assets/images/stats/cup-echange.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media stat stat-3">
            <div class="media-body">
                <h2 class="card-title">20</h2>
                <p class="card-text">Utilisateurs en ligne</p>
            </div>
            <div class="media-right" align="center">
                <img class="d-flex align-self-center mr-3" style="vertical-align: middle" src="../../../assets/images/stats/users.png" alt="logo">
            </div>
        </div>
    </div>
</div>